doctype html
html
  head
    include utils.pug
    block head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="/stylesheets/layout.css")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
    title(class = 'title') Good Films - #{title}
  body
    nav(class = 'navbar')
      a(href='/')
        img(src="/Images/logo.png" alt="logo" class="logoImg")
      div(class='form')
        div
          //- Empty menu keeps the content that follows the
          //- unordered list correctly positioned on the
          //- right side of the navbar.
        if locals.authenticated
          span(class='welcome') Welcome #{user.firstName}
            form(action=`/profile/${user.id}` method='get' class='profileBtn')
              button(type="submit") Profile
            form(action='/users/logout' method='post' class='logoutForm')
              input(type='hidden' name='_csrf' value=csrfToken)
              button(type='submit' class='logoutBtn') Logout
        else
          span.nav-login-container
            div
              form(action='/users/login' method='post' class='loginForm')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('Email Address', 'emailAddress', emailAddress)
                +field('Password', 'password', null, 'password')
                button(type='submit' class='loginBtn') Login
                span
                  button(class= 'registerBtn' type='button' onclick="window.location='/users/register'" ) Register
    div
      div
        +validationErrorSummary(errors)
      h2 #{title}
      block content
