extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/basic-form.css")
  script(src='/javascripts/movie.js' type="module")
block content

    .body-form-container
        .body-form.movieInfo
            div.image
                span
                    img(src=movie.image, alt=movie.title)
            div.info
                div
                    label Movie:
                    span=movie.title
                div
                    label Genre:
                    span=movie.genre
                div
                    label Directors:
                    span=movie.directors
                div
                    label Actors:
                    span=movie.actors
                div
                    label Release Date:
                    span=movie.releaseDate
                div
                    label Description:
                    span=movie.description
                if locals.authenticated
                    div#addToCollectionsDiv
                        form
                            if bigCollections
                                #addArea.show
                                    select#collectionSelect
                                        each collection in dropDownCollections
                                            option(name='current' value=collection.id class='dropDownListItems' id=`drop-down-${collection.id}`)= collection.name
                                        form(action=`/${movieId}` _method='post')
                                            input(type='hidden' id='movieId' value=movie.id)
                                            button(class='addToCollection' id=`${collection.name}`) Add to Collection
                                br
                                #inCollectionsArea.hidden
                                    h4 In collections:
                                        ul#collectionList 
                                            each collection in listCollections 
                                                li(id=`list-${collection.id}` class='collectionListItems')= collection.name
                                                    button(id=`${collection.id}/${collection.name}/${movie.id}` class='delete') Remove
                            if !bigCollections
                                a(href=`/profile/${locals.user.id}`) Go to your profile page to make a new Collection!

        h1 Reviews
        +validationErrorSummary(errors)
        .body-form#reviewBox
            if locals.authenticated
                input(type='hidden' value=`${locals.user.firstName} ${locals.user.lastName}` id='userName')
                include create-review.pug

            #reviewsList
                each review in reviewsFormatted
                    .movieInfo.review-area
                        .userAndDate
                            div
                                label User:
                                span= review.user
                            div
                                label Date:
                                span= review.date
                            div 
                                label Rating: 
                                span= review.rating
                        .reviewContent
                            p= review.content





                //- div
                //-     input(type='button' onclick=`window.location='/movies/${movie.id}/${movie.title}/reviews'` value='Write a Review')
