extends layout.pug 

block content
    .movie-container
    div
        label Movie:
        span=movie.title
    div
        label Genre: 
        span=movie.genre
    div
        label Directors: 
        span=movie.directors
    div
        label Actors:  
        span=movie.actors
    div
        label Release Date:  
        span=movie.releaseDate 
    div
        label Description: 
        span=movie.description