extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/profile.css")

include utils.pug

block content

  div
    h3 Your Collections
    div
      each collection in Collections
        div(class='collection_container')
          h2 #{collection.dataValues.name}
            div.edit-collection
              form(action=`/profile/collection/edit/${collection.id}` _method='post')
                input(type="text", name="name" placeholder="Rename this collection")
                button(type='submit' class='renameCol') Rename
              form(action=`/profile/collection/delete/${collection.id}` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type='submit' class='deleteCol') Delete
          div(class="docu")
            div(class='asd')
              h2 Free Solo
              a(href="../movies/20")
                img(src="/Images/freeSolo.jpg" alt="Free Solo" class="freeSolo")
            div(class='asd')
              h2 Icarus
              a(href="../movies/19")
                img(src="/Images/icarus.jpg" alt="ICARUS" class="icarus")
            div(class='asd')
              h2 Last Dance
              a(href="../movies/17")
                img(src="/Images/lastDance.jpg" alt="Last Dance" class="lastDance")
            div(class='asd')
              h2 My Octopus Teacher
              a(href="../movies/16")
                img(src="/Images/myOctopusTeacher.jpg" alt="My Octopus Teacher" class="myOT")
            div(class='asd')
              h2 The Social Dilemma
              a(href="../movies/18")
                img(src="/Images/theSocialDilemma.jpg" alt="The Social Dilemma" class="tSD")
    div
      +validationErrorSummary(errors)
      .collection-form-container
        form(action=`/profile/${id}` method='post' class='collection-form')
          div
            h4.create-collection-label= `Create a new Collection`
            input.rename-input(type="text" name='name' value="" placeholder='Name your collection here')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='userId' value=userId)
          div
            button(type='submit') Create Collection
  div
    h3 Recent Reviews
    div
      each review in Reviews
        div(class='review')
          div
            img( class='review_image' src=review.dataValues.Movie.dataValues.image alt=review.dataValues.Movie.dataValues.title)
          div.review_content
            h4 Title: #{review.dataValues.Movie.dataValues.title}
            p  Review: #{review.dataValues.content}
            div
            p  Rating: #{review.dataValues.rating}
  div.delete-profile-div
    form(action=`/users/delete/${user.id}` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for="deleteProfileBtn") WARNING: Clicking 'DELETE YOUR PROFILE' will remove your profile from GoodFilms!
    button(type='submit' name='deleteProfileBtn' class='delete-profile-btn') DELETE YOUR PROFILE
