mixin field(placeholderText, fieldName, fieldValue, fieldType = 'text')
  div
    //- label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholderText)

mixin validationErrorSummary(errors)
  if errors
    div
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
